server:
  port: 8081
  servlet:
    context-path: /api

spring:
  profiles:
    active: default
  flyway:
    locations: classpath:db
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: true
    properties:
      dialect: org.hibernate.dialect.MySQL5Dialect
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mall_product?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=UTC
    username: root
    password: password